*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(135deg, #ffd6eb, #ff99cc);
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    width: 80%;
}
header, main, footer, nav{
    background-color:  white;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 12px rgba(240, 13, 126, 0.3);
    animation: wjazd 2s ease-out forwards;
}
h1{
    color: #f11f88;
}
h2{
    color: #ff3399;
}
h3{
    color: #ff66b2;
}
li {
    color: #cc0066;
    margin: 15px 0;
}
code {
    display: block;
    background: #ffe6f2;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    color: #cc0066;
}
article, aside{
    margin-top: 15px;
    padding: 10px;
    background: #fff0f5;
    border-radius: 10px;
}
p, li, code{
    font-size: 1.2rem;
}
nav ul{
    list-style-type: none;
    text-align: center;
    padding-inline-start: 0;
}
nav ul li{
    display: inline;
    margin:0;
}
nav a{
    display: inline-block;
    text-align: center;
    width: 45%;
    background-color: #ffe6f2;
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
}
a:link{
    color:inherit;
}
a:visited{
    color:inherit;
}
a:hover{
    background-color: #cc0066;
    color:#ffe6f2;
    animation: nav 0.5s forwards;
}
p{
    color: #e32471;
}
figure{
    margin:0;
    text-align: center;
    color: #e32471;
}
@keyframes wjazd{
    from{
        opacity: 0;
        transform: translateX(-400px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes nav{
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(5px, 5px);
    }
}
@media screen and (max-width:576px){
    main{
        overflow: scroll;
    }
    section{
        width: fit-content;
    }
    nav a{
        display: block;
        margin: 10px auto;
    }
}
@media screen and (max-width:1071px){
    nav a{
        display: block;
        margin:10px auto;
    }
}